.mapcontrol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mapcontrol__header {
    background: var(--background-paper);
    border-radius: var(--border-radius);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.mapcontrol__title {
    width: 100%;
    padding: var(--spacing-xx-small);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-small);
}

.mapcontrol__body {
    padding: var(--spacing-medium);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mapcontrol__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--spacing-x-large);
    height: var(--spacing-x-large);
    border-radius: 50%;
    background: var(--background-paper);

    &:hover {
        background: var(--background-paper-hover);
    }
}

.mapcontrol__zoom,
.mapcontrol__coordinates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-small);
}