.mapcontrol {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}

.mapcontrol__zoom-level {
    font-size: var(--font-size-small);
    font-family: var(--font-family-body);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
}