.usalist {
    padding: var(--spacing-small);
}

.state-list-header {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-headline);
    color: var(--headline-color);
    text-align: center;
    margin: var(--spacing-large) 0;
}

.state-list-sort {
    display: flex;
    gap: var(--spacing-small);
    justify-content: space-around;
    width: 100%;
    margin-bottom: var(--spacing-medium);
}

.state-list-sort-button {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-body);
    color: var(--body-color);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    padding: var(--spacing-x-small);
    cursor: pointer;
    transition: all 0.3s ease;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-top: var(--spacing-medium);
}

.table-header,
.state-list-item {
    text-align: left;
    color: var(--headline-color);
    font-size: var(--font-size-small);
    font-family: var(--font-family-body);
}

.state-list-item {
    padding: var(--spacing-xx-small) 0;
    border-bottom: 1px solid var(--background-paper);

    &:nth-child(odd) {
        background: var(--background-paper-dark);
    }

    &:hover {
        background: var(--background-paper-highlight);
    }

    &:last-child {
        border-bottom: none;
    }

    &-fill {
        width: 10px;
        height: 10px;
    }

    &-won-by {
        padding-left: var(--spacing-small);
    }
}


.hovered-state {
    background: var(--background-paper-highlight);
    animation: hover infinite alternate 0.3s ease-in-out;

    @keyframes hover {
        0% {
            background: var(--background-paper);
        }

        100% {
            background: var(--background-paper-highlight);
        }
    }

}