.usa-stateinfo {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-xx-small);
    font-size: var(--font-size-small);
    font-family: var(--font-family-body);
    display: flex;
    justify-content: center;
    gap: var(--spacing-small);
}