.oneturn-header {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-headline);
    color: var(--headline-color);
    margin: var(--spacing-x-small) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    margin-top: var(--spacing-large);
}

.oneturn-body {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-small);

}

.oneturn-item {
    display: flex;
    font-size: var(--font-size-small);
    font-family: var(--font-family-body);
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    min-height: calc(var(--spacing-large) * 3);
    border-bottom: 1px solid var(--background-paper);

    // uppper only upper left and upper right corners are rounded
    &:first-child {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    // lower only lower left and lower right corners are rounded
    &:last-child {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &__subitem {
        border-radius: 50%;
        width: calc(var(--spacing-large) * 2);
        aspect-ratio: 1;
        background: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--background-paper-light);

    }

    &__power {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--background-paper-light);
        border-radius: 50%;
        width: calc(var(--spacing-large) * 2);
        aspect-ratio: 1;

        &--rep {
            background: var(--color-republican);
            color: var(--color-white);
        }

        &--dem {
            background: var(--color-democrat);
            color: var(--color-white);
        }
    }

}