/* Reset common elements and properties */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}